<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessengerCoreService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/MessengerCoreService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessengerCoreService"
                contract="MessengerServiceReference.IMessengerCoreService"
                name="NetTcpBinding_IMessengerCoreService">
                <identity>
                    <userPrincipalName value="GYGABYTE\Ваня Штерн" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>